<% @activities.task_activities(task).each do |activity| %>
  <div>
    <%= task.name %>
    <%= activity.state %>
    <%= activity.created_at %>
    <%= t "headers.status" %>
    <% task.user_tasks.each do |user_task| %>
      <%= user_task.status %>
    <% end %>
  </div>
<% end %>
