<div class="panel-heading"><h1><%= course.name %></h1></div>
<div class="status">
  <span class="label label-primary ">
    <%= t("headers.status") %>
    <%= course.status %>
  </span>
  <%= render partial: "supervisor/subjects/show", collection: course.subjects, as: :subject %>
  <h2><%= t("headers.instruction") %></h2>
  <div class="description"><%= course.description %></div>
</div>
