<div class="row">
  <div class="user_profile_block">
   <aside class="col-md-4">
      <section class="user_info">
        <%= t("button.member_user_of_course") %>
      </section>
      <%= render "shared/show_user_assign_course" %>  
    </aside>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading"><h1><%= @course.name %></h1></div>
      <div class="status">
        <span class="label label-primary">Status : <%= @course.status %></span>
      </div>
      <h2>Subjects</h2>
        <div class="list_sub">
          <ul class="list-group">
            <% @subjects.each do |subject| %>
              <li class="list-group-item"><%= link_to subject.name, [:supervisor, subject] %></li>
            <% end %>
          </ul>
        </div>
      <h2><%= t(:title, title: :"Description") %></h2>
      <div class="description"><%= @course.description %></div>
    </div>
    <%= link_to t("button.add_user"), supervisor_course_assign_users_path(@course), class: "btn btn-primary" %>
  </div>
</div>
